body{
    background-color: black;
}
.headerr{
   color: white;
   font-size: 50px;
   font-family: "Titan One", sans-serif;
   font-weight:100;
   font-style: normal;
}
.card{
    background-color: rgb(197, 197, 197);
    font-family: "Grandiflora One", cursive;
}
.card-header{
color: rgb(255, 255, 255);
background-color: black;
border: double 5px;
border-radius: 50px;
font-family: "Gluten", cursive;
font-size: 30px;
  }

.boldtry{
    font-family: "Grandiflora One", cursive;
    font-weight: 900;
}


footer{
    background-color: rgb(255, 255, 255);
    color: #0128C8;
    text-align: center;
    bottom: 0;
    width: 100%;

  }
  .plswork{
    font-family: 'Homemade Apple', cursive;
  }
  p{
    font-family: 'Englebert', cursive;
    margin: 0;
  }
  a{
    color: #C80101;
    font-family: 'Englebert', cursive;
  }